page-home {
    .item-input .label-md, .item-select .label-md, .item-datetime .label-md, .item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios{
        color: #FFFFFF;
    }
  ion-content{
    font-size: 3.8vw
  }
    .toolbar-background-md, .toolbar-background-ios{
      background: $main !important;
  }
    .segment-md .segment-button{
        border-bottom-color: #FFFFFF !important;
        color: #FFFFFF !important;
        font-family: 'Trueno';
    }
    .toolbar-title-md{
        color: #FFFFFF;
    }
     .content-md, .content-ios{
      color: #485465 !important;
      background-color: #FEFEFE;
  }
    .item-md, .item-ios{
        border: solid 1px #DBDFE3;
        border-radius: 7px;
        box-shadow: 4px 3px 15px #DBDFE3;
        margin-bottom: 1.5em;
    }
    .list-md .item-block .item-inner,
    .list-ios .item-block .item-inner {
    border-bottom: 0px solid #dedede !important;
    }   
    .distance{
    position: absolute;
    right: 0.9em;
    background-color: #A8B4C4;
    color: #FFFFFF;
    padding: 0.2em;
    border-radius: 0.2em;
    }
    .directions{
        position: inherit;
        margin-bottom: 0.8em;
    }
    .inline{
        display: inline-table;
    }
    .iconType{
        max-width: 90% !important;
    }
    .commerce{
        position: absolute;
            margin-top: 0.5em;
    margin-left: 0.8em;
    }
    .itemInfo{
        margin-top: 0.5em;
    }
    round-progress{
        width: 80% !important;
        height: 80% !important;
    }
    .textI{
        font-size: 1em;
    }
    .oidT{
        color: #A4A2A2;
    }
    .numIT{
        color: $main;
        font-weight: bold
    }
    .timeW{
        position: relative;
        padding: 0
    }
    .centerT{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .title-image {
        margin-top: 8px;
        height: 27px;
    }
    .timerIcon{
        color: $green;
        font-size: 3em;
    }
    .emptyC{
        width: 70%;
        margin: 15%;
 
        text-align: center;
    }
    .emptyC p{
        color: #B0A7B5;
        font-family: 'Trueno' !important;
        font-size: 1.5em;
    }
    .bar-button-default-ios{
        color: #ffffff !important;
    }
    .segment-ios .segment-button.segment-activated{
        color: #ed5a5f !important;
        background-color: #ffffff !important;
    }
    .segment-ios .segment-button{
        border-color: #ffffff !important;
        color: #FFFFFF !important;
    }
}