<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img alt="logo" height="40" class="title-image" src="assets/img/logo_white.png"> </ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="pending">
        SIN TOMAR
      </ion-segment-button>
      <ion-segment-button value="accepted">
        TOMADOS
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="tab">
    <ion-list *ngSwitchCase="'pending'">
      <div class="emptyC" *ngIf="pendingOrders.length == 0">
        <img src="assets/img/friendly-ghost.svg" alt="img" class="image">
        <p>Nada disponible aún</p>
        <p>Sin tomar</p>
      </div>
      <ion-item style="color: #485465;" *ngFor="let order of pendingOrders" (click)="pushOrder(order.$key)">
        <ion-grid>
          <ion-row>
            <ion-col col-8>
              <p class="inline textI oidT">Orden ID: </p>
              <h3 class="inline textI" style="font-weight: bold;">#{{order.$key}}</h3>
              <p class="textI numIT">{{order.cart.length}} items</p>
              <p class="textI">Entrega estimada: {{order.expected_time | amDateFormat: 'HH:mm'}}</p>
            </ion-col>
            <ion-col col-4 class="timeW">
              <div class="centerT">
                <ion-icon ios="ios-timer" md="md-timer" class="timerIcon"></ion-icon>
                <p>{{order.expected_time | amLocale:'es'| amTimeAgo:true}}</p>
              </div>
            </ion-col>

          </ion-row>
        </ion-grid>

      </ion-item>

    </ion-list>

    <ion-list *ngSwitchCase="'accepted'">
      <div class="emptyC" *ngIf="acceptedOrders.length == 0">
        <img src="assets/img/friendly-ghost.svg" alt="img" class="image">
        <p>Nada disponible aún</p>
        <p>Tomados</p>
      </div>
      <ion-item style="color: #485465;" *ngFor="let order of acceptedOrders" (click)="pushOrder(order.$key)">
        <ion-grid>
          <ion-row>
            <ion-col col-8>
              <p class="inline textI oidT">Orden ID: </p>
              <h3 class="inline textI" style="font-weight: bold;">#{{order.$key}}</h3>
              <p class="textI numIT">{{order.cart.length}} items</p>
              <p class="textI">Entrega estimada: {{order.expected_time | amDateFormat: 'HH:mm'}}</p>
            </ion-col>
            <ion-col col-4 class="timeW">
              <div class="centerT">
                <ion-icon ios="ios-timer" md="md-timer" class="timerIcon"></ion-icon>
                <p>{{order.expected_time | amLocale:'es'| amTimeAgo:true}}</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
    </ion-list>
  </div>
</ion-content>