page-billing {
    .toolbar-background-md, .toolbar-background-ios{
        background: $main !important;
    }
    .segment-md .segment-button{
        border-bottom-color: #FFFFFF !important;
        color: #FFFFFF !important;
    }
    .toolbar-title-md{
        color: #FFFFFF;
    }
    .text{
        font-weight: bold;
        color: #485465;
    }
    .bar-button-default-ios{
        color: #FFFFFF !important;
      }
      .toolbar-title-ios{
        color: #FFFFFF !important;
      }
}
